@model Models.Employee

@{
    Layout = "~/Views/shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Browser Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Microsoft 365 offers a cloud computing solution with built-in security to help safeguard protected health information.">
    <meta name="keywords" content="[REPLACE] Enter keywords for search engines here. ">
    <meta name="ms.eventcollectionid" content="">
    <meta name="ms.ea_targetcampaign"
          content="CO-M365-CNTNT-FY19-06Jun-07-A holistic approach to data security, privacy, and compliance for healthcare-ABM">
    <meta name="ms.progid" content="143043">
    <title>Awaken the genius within your teams</title>
    <!-- Marketo Meta -->
    <!-- ON-DEMAND FLIPOVER MECHANISM FOR TIME-SENSITIVE PROGRAMS -->
    <meta name="robots" content="index, nofollow">
    <!-- Linked -->
    <link type="text/css" rel="stylesheet" href="https://info.microsoft.com/rs/157-GQE-382/images/one_gdc_styles.css">
    <link type="text/css" rel="stylesheet" href="https://info.microsoft.com/rs/157-GQE-382/images/one_gdc_form.css">
    <!-- Scripts -->
    <script src="https://info.microsoft.com/rs/157-GQE-382/images/jquery-3.2.1.min.js"></script>
    <!--placeholder.min.js for IE9 and less support of placeholder attribute-->
    <!--[if lt IE 10]>
            <script src="https://info.microsoft.com/rs/157-GQE-382/images/placeholders.min.js"></script>
        <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Styles -->
    <style>
        header.header {
            background-color: #ffffff;
        }

        .header-left .header-logo {
            max-width: 99px;
        }

        .header-right .header-logo {
            max-width: 99px;
        }

        .social-signin-wrapper {
            display: none !important;
        }

        .cf_widget_socialsignon {
            display: none !important;
        }

        .form-wrapper .form-body {
            background-color: #0078D4 !important;
            color: #ffffff !important;
        }

            .form-wrapper .form-body .form-heading h2,
            .form-wrapper .form-body .form-heading h3,
            .form-wrapper .form-body .form-heading .social-signin-wrapper {
                color: #ffffff !important;
            }

        .form-wrapper form.mktoForm .mktoButtonRow button,
        .form-wrapper form.mktoForm .mktoButtonRow input[type="submit"] {
            background-color: #0078D4 !important;
            color: #ffffff !important;
        }

        .title-area {
            color: #ffffff;
        }

            .title-area h1 {
                color: #ffffff !important;
            }

            .title-area .title-area-background {
                background-image: url('https://www.technoreports.info/LandingPage/images/MicrosoftSurface-WorkplaceTrendsWP-Landing.jpg');
                background-color: #0078D4;
            }

        .preview-link {
            display: none !important;
        }

        .dateTime {
            border-color: #00188F;
        }

        body .direct-buy.mktoText {
            display: none !important;
        }

        .direct-buy {
            margin-top: 0;
            margin-bottom: 84px;
        }

        .blade-1 {
            display: none;
            background-color: #0078D4;
            color: #ffffff;
        }

            .blade-1 a {
                color: #ffffff;
            }

        .blade-2 {
            display: none;
            background-color: #f1f1f1;
            color: #222222;
        }

            .blade-2 a {
                color: #222222;
            }

        form.mktoForm .mktoFieldWrap.mktoRequiredField::after {
            color: #ffffff;
        }

        #formAction,
        #pageTitle,
        #buttonTranslation,
        #heroImage,
        #pageMata {
            display: none;
        }
    </style>
    <!-- Tealium -->
    <script type="text/javascript" src="https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE1r2ij"></script>
    <link rel="shortcut icon" href="https://www.technoreports.info/uploads/images/favicon.png" />


    <link id="mktoForms2BaseStyle" rel="stylesheet" type="text/css"
          href="https://technoreports.info/js/forms2/css/forms2.css">
    <link id="mktoForms2ThemeStyle" rel="stylesheet" type="text/css"
          href="https://technoreports.info/js/forms2/css/forms2-theme-simple.css">

    <style>
        .mktoGen.mktoImg {
            display: inline-block;
            line-height: 0;
        }
        /*.input-validation-error {
            color:red;
        }*/
        
         .field-validation-error {
            color: white;
            font-weight: bolder;
        }
    </style>


</head>

<body lang="en-US" dir="ltr" id="bodyId">


    <div class="mktoText" id="pageTitle">Awaken the genius within your teams</div>
    <div class="mktoText" id="pageMata">
        Microsoft 365 offers a cloud computing solution with built-in security to help
        safeguard protected health information.
    </div>
    <div class="mktoText" id="heroImage"></div>
    <!-- Remove image on title area. This is a fix for single token use. -->
    <style>
        .title-area {
            background-image: none;
        }
    </style>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-lg-3 header-left">
                    <a href="https://www.microsoft.com/">
                        <img class="header-logo"
                             src="https://www.technoreports.info/LandingPage/images/MSFT-Surface-Logo.png"
                             alt="Microsoft Logo">
                    </a>
                </div>
                <div class="col-xs-6 col-lg-9 header-right">
                    <a href="https://www.microsoft.com/en-us/microsoft-365/business">
                        <img class="header-logo"
                             src="https://info.microsoft.com/rs/157-GQE-382/images/blank.gif"
                             alt="Microsoft 365 Logo">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <div class="title-area breakout-content no-image">
                                <div class="title-area-background"></div>
                                <div class="mktoText" id="bannerText">
                                    <h1>Awaken the genius within your teams</h1>
                                </div>
                                <div class="hidden-xs hidden-sm content-preview mktoText" id="product-Image">
                                    <img class="title-area-image" src=" " alt=" " /> <a class="preview-link"
                                                                                        href="[REPLACE]"><img src="" />[REPLACE]</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 pull-right">
                            <div class="form-wrapper">
                                <div class="form-body">
                                    <div class="form-heading-wrapper">
                                        <div class="mktoText form-heading" id="formHeading">
                                            <h2>Get the e-book</h2>
                                            <h3>Fill out form to access</h3>
                                        </div>

                                    </div>
                                    <div class="mktoForm" id="formArea">

                                        <div id="lpeCDiv_11139397" class="lpeCElement CO-Universal-1GDC-Long-Standard">
                                            <div class="lpContentsItem formSpan">
                                                <script src="https://www.technoreports.info/js/forms2/js/forms2.min.js"></script>
                                                <form action="/Home/Index" method="post" class="mktoForm mktoHasWidth mktoLayoutAbove" id="myform"
                                                      style="font-family: Arial, Verdana, sans-serif; font-size: 14px; color: rgb(51, 51, 51); width: 370px;">
                                                    <style type="text/css">
                                                        .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
                                                            color: #fff;
                                                            border: 1px solid #75ae4c;
                                                            padding: 0.4em 1em;
                                                            font-size: 1em;
                                                            background-color: #99c47c;
                                                            background-image: -webkit-gradient(linear, left top, left bottom, from(#99c47c), to(#75ae4c));
                                                            background-image: -webkit-linear-gradient(top, #99c47c, #75ae4c);
                                                            background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
                                                            background-image: linear-gradient(to bottom, #99c47c, #75ae4c);
                                                        }

                                                            .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
                                                                border: 1px solid #447f19;
                                                            }

                                                            .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
                                                                outline: none;
                                                                border: 1px solid #447f19;
                                                            }

                                                            .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active {
                                                                background-color: #75ae4c;
                                                                background-image: -webkit-gradient(linear, left top, left bottom, from(#75ae4c), to(#99c47c));
                                                                background-image: -webkit-linear-gradient(top, #75ae4c, #99c47c);
                                                                background-image: -moz-linear-gradient(top, #75ae4c, #99c47c);
                                                                background-image: linear-gradient(to bottom, #75ae4c, #99c47c);
                                                            }
                                                    </style>

                                                    @Html.HiddenFor(model => model.ip_address,"abc")
                                                    @Html.HiddenFor(model => model.browser_details, "abc")
                                                    @Html.HiddenFor(model => model.url_link, "abc")
                                                    @Html.HiddenFor(model => model.os_info, "abc")


                                                    <div class="mktoFormRow" id="divFirstName">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="first_name" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    First name
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.TextBoxFor(model => model.first_name, new { @maxlength="50", placeholder = "First name *", @class = "mktoField mktoTextField mktoHasWidth" })
                                                                @Html.ValidationMessageFor(model => model.first_name)

                                                                @*<input id="first_name" name="first_name"
                                                                    placeholder="First name *" maxlength="255"
                                                                    type="text"
                                                                    class="mktoField mktoTextField mktoHasWidth mktoRequired mktoInvalid"
                                                                    style="width: 270px;" required>*@
                                                                <div class="mktoClear"></div>                                                               
                                                            </div>
                                                            
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                       
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divLastName">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="last_name" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Last name
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.TextBoxFor(model => model.last_name, new { @maxlength = "50", placeholder = "Last name *", @class = "mktoField mktoTextField mktoHasWidth" })
                                                                @Html.ValidationMessageFor(model => model.last_name)
                                                                @*<input id="LastName" name="LastName"
                                                                    placeholder="Last name *" maxlength="255"
                                                                    type="text"
                                                                    class="mktoField mktoTextField mktoHasWidth mktoRequired"
                                                                    style="width: 270px;" required>*@
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divEmail">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="email" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Business email
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.TextBoxFor(model => model.email, new { @maxlength = "50", placeholder = "Email *", @class = "mktoField mktoTextField mktoHasWidth" })
                                                                @Html.ValidationMessageFor(model => model.email)
                                                                @*<input id="Email" name="Email" placeholder="Email *"
                                                                    maxlength="255" type="email"
                                                                    class="mktoField mktoEmailField mktoHasWidth mktoRequired"
                                                                    style="width: 270px;" required>*@
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divCompany">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="company_name" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Company name
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.TextBoxFor(model => model.company_name, new { @maxlength = "100", placeholder = "Company name *", @class = "mktoField mktoTextField mktoHasWidth" })
                                                                @Html.ValidationMessageFor(model => model.company_name)
                                                                @*<input id="Company" name="Company"
                                                                    placeholder="Company name *" maxlength="255"
                                                                    type="text"
                                                                    class="mktoField mktoTextField mktoHasWidth mktoRequired mktoValid"
                                                                    style="width: 270px;" required>*@
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divCompanySize">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="company_size" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Company size
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.DropDownListFor(model => model.company_size, new List<SelectListItem>
{
    new SelectListItem{ Text="Company size... *", Value = "" },
    new SelectListItem{ Text="1000+", Value = "1000+" },
    new SelectListItem{ Text="250-999", Value = "250-999" },
    new SelectListItem{ Text="50-249", Value = "50-249" },
    new SelectListItem{ Text="25-49", Value = "25-49" },
    new SelectListItem{ Text="10-24", Value = "10-24" },
    new SelectListItem{ Text="5-9", Value = "5-9" },
    new SelectListItem{ Text="2-4", Value = "2-4" },
    new SelectListItem{ Text="1", Value = "1" }
 })
                                                                @Html.ValidationMessageFor(model => model.company_size)
                                                                @*<select id="CompanySize" name="CompanySize"
                                                                            class="mktoField mktoHasWidth mktoRequired mktoInvalid"
                                                                            style="width: 270px;" required>
                                                                        <option value="">Company size... *</option>
                                                                        <option value="1000+">1000+</option>
                                                                        <option value="250-999">250-999</option>
                                                                        <option value="50-249">50-249</option>
                                                                        <option value="25-49">25-49</option>
                                                                        <option value="10-24">10-24</option>
                                                                        <option value="5-9">5-9</option>
                                                                        <option value="2-4">2-4</option>
                                                                        <option value="1">1</option>
                                                                    </select>*@

                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <!-- <div class="mktoFormRow" id="divJobTitle">-->
                                                    <!--     <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">-->
                                                    <!--         <div class="mktoOffset" style="width: 10px;"></div>-->
                                                    <!--         <div class="mktoFieldWrap mktoRequiredField">-->
                                                    <!--         <label for="JobTitle" class="mktoLabel mktoHasWidth" style="width: 230px;">-->
                                                    <!--           <div class="mktoAsterix">*</div>-->
                                                    <!--          Job Title-->
                                                    <!--        </label>-->
                                                    <!--        <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>-->
                                                    <!--             <select  class="mktoField mktoHasWidth mktoRequired mktoInvalid" style="width: 270px;"-->
                                                    <!--                 id="JobTitle" name="JobTitle" required="required">-->
                                                    <!--                 <option selected="selected" value="">Job Title *</option>-->
                                                    <!--                 <option value="AnalystPress">Analyst/Press</option>-->
                                                    <!--                 <option value="DeveloperEngineer">Developer/Engineer</option>-->
                                                    <!--                 <option value="Executive">Executive</option>-->
                                                    <!--                 <option value="ItTechnicalManager">IT or Technical Manager</option>-->
                                                    <!--                 <option value="MarketingSales">Marketing/Sales</option>-->
                                                    <!--                 <option value="Other">Other</option>-->
                                                    <!--                 <option value="ResearcherAcademic">Researcher/Academic</option>-->
                                                    <!--                 <option value="SystemAdministrator">System Administrator</option>-->
                                                    <!--                 <option value="SystemsArchitect">Systems/Solution Architect</option>-->
                                                    <!--             </select>-->
                                                    <!--         </div>-->
                                                    <!--        <div class="mktoClear"></div>-->
                                                    <!--    </div>-->
                                                    <!--    <div class="mktoClear"></div>-->
                                                    <!--</div>-->

                                                    <div class="mktoFormRow" id="divJobRole">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="job_role" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Job role
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.DropDownListFor(model => model.job_role, new List<SelectListItem>
{
    new SelectListItem{ Text="Job role *", Value = "" },
    new SelectListItem{ Text="Owner", Value = "Owner" },
    new SelectListItem{ Text="Director", Value = "Director" },
    new SelectListItem{ Text="Manager", Value = "Manager" },
    new SelectListItem{ Text="Individual Contributor/Staff", Value = "Individual Contributor/Staff" },
    new SelectListItem{ Text="Developer", Value = "Developer" },
    new SelectListItem{ Text="Chief Officer", Value = "Chief Officer" },
    new SelectListItem{ Text="Vice President", Value = "Vice President" }    
 })
                                                                @Html.ValidationMessageFor(model => model.job_role)
                                                                @*<select class="mktoField mktoHasWidth mktoRequired mktoInvalid"
                                                                        style="width: 270px;" id="JobRole" name="JobRole"
                                                                        required="required">
                                                                    <option selected="selected" value="">
                                                                        Job role *
                                                                    </option>
                                                                    <option value="Owner">Owner</option>
                                                                    
                                                                    <option value="Director">Director</option>
                                                                    <option value="Manager">Manager</option>
                                                                    <option value="Individual Contributor/Staff">
                                                                        Individual
                                                                        Contributor/Staff
                                                                    </option>
                                                                    <option value="Developer">Developer</option>
                                                                    <option value="Chief Officer">Chief Officer</option>
                                                                    <option value="Vice President">
                                                                        Vice President
                                                                    </option>
                                                                </select>*@
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divJobDepartment">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="job_dept"
                                                                       class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Job department
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.DropDownListFor(model => model.job_dept, new List<SelectListItem>
{
    new SelectListItem{ Text="Job department *", Value = "" },
    new SelectListItem{ Text="Human Resources", Value = "Human Resources" },
    new SelectListItem{ Text="Sales/Business Development", Value = "Sales/Business Development" },
    new SelectListItem{ Text="Legal/Compliance", Value = "Legal/Compliance" },
    new SelectListItem{ Text="Finance", Value = "Finance" },
    new SelectListItem{ Text="Marketing", Value = "Marketing" },
    new SelectListItem{ Text="Operations", Value = "Operations" },
    new SelectListItem{ Text="Data/Business Intelligence", Value = "Data/Business Intelligence" },
    new SelectListItem{ Text="Security", Value = "Security" },
    new SelectListItem{ Text="Engineering", Value = "Engineering" },
    new SelectListItem{ Text="Information Technology", Value = "Information Technology" },
    new SelectListItem{ Text="Customer Service", Value = "Customer Service" },
    new SelectListItem{ Text="Owner", Value = "Owner" }
 })
                                                                @Html.ValidationMessageFor(model => model.job_dept)
                                                                @*<select class="mktoField mktoHasWidth mktoRequired mktoInvalid"
                                                                        style="width: 270px;" id="JobDepartment"
                                                                        name="JobDepartment" required="required">
                                                                    <option selected="selected" value="">
                                                                        Job department
                                                                        *
                                                                    </option>
                                                                    <option value="Human Resources">
                                                                        Human Resources
                                                                    </option>
                                                                    <option value="Sales/Business Development">
                                                                        Sales/Business
                                                                        Development
                                                                    </option>
                                                                    <option value="Legal/Compliance">
                                                                        Legal/Compliance
                                                                    </option>
                                                                    <option value="Finance">Finance</option>
                                                                    <option value="Marketing">Marketing</option>
                                                                    <option value="Operations">Operations</option>
                                                                    <option value="Data/Business Intelligence">
                                                                        Data/Business
                                                                        Intelligence
                                                                    </option>
                                                                    <option value="Security">Security</option>
                                                                    <option value="Engineering">Engineering</option>
                                                                    <option value="Information Technology">
                                                                        Information
                                                                        Technology
                                                                    </option>
                                                                    <option value="Customer Service">
                                                                        Customer Service
                                                                    </option>
                                                                    <option value="Owner">Owner</option>
                                                                </select>*@

                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divPhone">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="phone" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Phone
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
                                                                @Html.TextBoxFor(model => model.phone, new { @maxlength = "10", placeholder = "Phone *", @class = "mktoField mktoTextField mktoHasWidth" })
                                                                @Html.ValidationMessageFor(model => model.phone)
                                                                @*<input id="Phone" name="Phone" placeholder="Phone *"
                                                                       maxlength="255" type="tel"
                                                                       class="mktoField mktoTelField mktoHasWidth mktoRequired"
                                                                       required style="width: 270px;">*@
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow" id="divCountry">
                                                        <div class="mktoFieldDescriptor mktoFormCol"
                                                             style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap mktoRequiredField">
                                                                <label for="country" class="mktoLabel mktoHasWidth"
                                                                       style="width: 230px;">
                                                                    <div class="mktoAsterix">*</div>
                                                                    Country
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth"
                                                                     style="width: 10px;"></div>
@Html.DropDownListFor(model => model.country, new List<SelectListItem>
{
    new SelectListItem{ Text="Country... *", Value = "" },
new SelectListItem{ Text="Canada", Value = "Canada" },
new SelectListItem{ Text="Afghanistan", Value = "Afghanistan" },
new SelectListItem{ Text="Åland Islands", Value = "Åland Islands" },
new SelectListItem{ Text="Albania", Value = "Albania" },
new SelectListItem{ Text="Algeria", Value = "Algeria" },
new SelectListItem{ Text="American Samoa", Value = "American Samoa" },
new SelectListItem{ Text="Andorra", Value = "Andorra" },
new SelectListItem{ Text="Angola", Value = "Angola" },
new SelectListItem{ Text="Anguilla", Value = "Anguilla" },
new SelectListItem{ Text="Antarctica", Value = "Antarctica" },
new SelectListItem{ Text="Antigua and Barbuda", Value = "Antigua and Barbuda" },
new SelectListItem{ Text="Argentina", Value = "Argentina" },
new SelectListItem{ Text="Armenia", Value = "Armenia" },
new SelectListItem{ Text="Aruba", Value = "Aruba" },
new SelectListItem{ Text="Australia", Value = "Australia" },
new SelectListItem{ Text="Austria", Value = "Austria" },
new SelectListItem{ Text="Azerbaijan", Value = "Azerbaijan" },
new SelectListItem{ Text="Bahamas", Value = "Bahamas" },
new SelectListItem{ Text="Bahrain", Value = "Bahrain" },
new SelectListItem{ Text="Bangladesh", Value = "Bangladesh" },
new SelectListItem{ Text="Barbados", Value = "Barbados" },
new SelectListItem{ Text="Belarus", Value = "Belarus" },
new SelectListItem{ Text="Belgium", Value = "Belgium" },
new SelectListItem{ Text="Belize", Value = "Belize" },
new SelectListItem{ Text="Benin", Value = "Benin" },
new SelectListItem{ Text="Bermuda", Value = "Bermuda" },
new SelectListItem{ Text="Bhutan", Value = "Bhutan" },
new SelectListItem{ Text="Bolivia", Value = "Bolivia" },
new SelectListItem{ Text="Bonaire", Value = "Bonaire" },
new SelectListItem{ Text="Bosnia and Herzegovina", Value = "Bosnia and Herzegovina" },
new SelectListItem{ Text="Botswana", Value = "Botswana" },
new SelectListItem{ Text="Bouvet Island", Value = "Bouvet Island" },
new SelectListItem{ Text="Brazil", Value = "Brazil" },
new SelectListItem{ Text="British Indian Ocean Territory", Value = "British Indian Ocean Territory" },
new SelectListItem{ Text="British Virgin Islands", Value = "British Virgin Islands" },
new SelectListItem{ Text="Brunei", Value = "Brunei" },
new SelectListItem{ Text="Bulgaria", Value = "Bulgaria" },
new SelectListItem{ Text="Burkina Faso", Value = "Burkina Faso" },
new SelectListItem{ Text="Burundi", Value = "Burundi" },
new SelectListItem{ Text="Cabo Verde", Value = "Cabo Verde" },
new SelectListItem{ Text="Cambodia", Value = "Cambodia" },
new SelectListItem{ Text="Cameroon", Value = "Cameroon" },
new SelectListItem{ Text="Cayman Islands", Value = "Cayman Islands" },
new SelectListItem{ Text="Central African Republic", Value = "Central African Republic" },
new SelectListItem{ Text="Chad", Value = "Chad" },
new SelectListItem{ Text="Chile", Value = "Chile" },
new SelectListItem{ Text="China", Value = "China" },
new SelectListItem{ Text="Christmas Island", Value = "Christmas Island" },
new SelectListItem{ Text="Cocos (Keeling) Islands", Value = "Cocos (Keeling) Islands" },
new SelectListItem{ Text="Colombia", Value = "Colombia" },
new SelectListItem{ Text="Comoros", Value = "Comoros" },
new SelectListItem{ Text="Congo", Value = "Congo" },
new SelectListItem{ Text="Congo (DRC)", Value = "Congo (DRC)" },
new SelectListItem{ Text="Cook Islands", Value = "Cook Islands" },
new SelectListItem{ Text="Costa Rica", Value = "Costa Rica" },
new SelectListItem{ Text="Côte d'Ivoire", Value = "Côte d'Ivoire" },
new SelectListItem{ Text="Croatia", Value = "Croatia" },
new SelectListItem{ Text="Curaçao", Value = "Curaçao" },
new SelectListItem{ Text="Cyprus", Value = "Cyprus" },
new SelectListItem{ Text="Czechia", Value = "Czechia" },
new SelectListItem{ Text="Denmark", Value = "Denmark" },
new SelectListItem{ Text="Djibouti", Value = "Djibouti" },
new SelectListItem{ Text="Dominica", Value = "Dominica" },
new SelectListItem{ Text="Dominican Republic", Value = "Dominican Republic" },
new SelectListItem{ Text="Ecuador", Value = "Ecuador" },
new SelectListItem{ Text="Egypt", Value = "Egypt" },
new SelectListItem{ Text="El Salvador", Value = "El Salvador" },
new SelectListItem{ Text="Equatorial Guinea", Value = "Equatorial Guinea" },
new SelectListItem{ Text="Eritrea", Value = "Eritrea" },
new SelectListItem{ Text="Estonia", Value = "Estonia" },
new SelectListItem{ Text="eSwatini", Value = "eSwatini" },
new SelectListItem{ Text="Ethiopia", Value = "Ethiopia" },
new SelectListItem{ Text="Falkland Islands", Value = "Falkland Islands" },
new SelectListItem{ Text="Faroe Islands", Value = "Faroe Islands" },
new SelectListItem{ Text="Fiji", Value = "Fiji" },
new SelectListItem{ Text="Finland", Value = "Finland" },
new SelectListItem{ Text="France", Value = "France" },
new SelectListItem{ Text="French Guiana", Value = "French Guiana" },
new SelectListItem{ Text="French Polynesia", Value = "French Polynesia" },
new SelectListItem{ Text="French Southern Territories", Value = "French Southern Territories" },
new SelectListItem{ Text="Gabon", Value = "Gabon" },
new SelectListItem{ Text="Gambia", Value = "Gambia" },
new SelectListItem{ Text="Georgia", Value = "Georgia" },
new SelectListItem{ Text="Germany", Value = "Germany" },
new SelectListItem{ Text="Ghana", Value = "Ghana" },
new SelectListItem{ Text="Gibraltar", Value = "Gibraltar" },
new SelectListItem{ Text="Greece", Value = "Greece" },
new SelectListItem{ Text="Greenland", Value = "Greenland" },
new SelectListItem{ Text="Grenada", Value = "Grenada" },
new SelectListItem{ Text="Guadeloupe", Value = "Guadeloupe" },
new SelectListItem{ Text="Guam", Value = "Guam" },
new SelectListItem{ Text="Guatemala", Value = "Guatemala" },
new SelectListItem{ Text="Guernsey", Value = "Guernsey" },
new SelectListItem{ Text="Guinea", Value = "Guinea" },
new SelectListItem{ Text="Guinea-Bissau", Value = "Guinea-Bissau" },
new SelectListItem{ Text="Guyana", Value = "Guyana" },
new SelectListItem{ Text="Haiti", Value = "Haiti" },
new SelectListItem{ Text="Heard Island and McDonald Islands", Value = "Heard Island and McDonald Islands" },
new SelectListItem{ Text="Honduras", Value = "Honduras" },
new SelectListItem{ Text="Hong Kong SAR", Value = "Hong Kong SAR" },
new SelectListItem{ Text="Hungary", Value = "Hungary" },
new SelectListItem{ Text="Iceland", Value = "Iceland" },
new SelectListItem{ Text="India", Value = "India" },
new SelectListItem{ Text="Indonesia", Value = "Indonesia" },
new SelectListItem{ Text="Ireland", Value = "Ireland" },
new SelectListItem{ Text="Isle of Man", Value = "Isle of Man" },
new SelectListItem{ Text="Israel", Value = "Israel" },
new SelectListItem{ Text="Italy", Value = "Italy" },
new SelectListItem{ Text="Jamaica", Value = "Jamaica" },
new SelectListItem{ Text="Jan Mayen", Value = "Jan Mayen" },
new SelectListItem{ Text="Japan", Value = "Japan" },
new SelectListItem{ Text="Jersey", Value = "Jersey" },
new SelectListItem{ Text="Jordan", Value = "Jordan" },
new SelectListItem{ Text="Kazakhstan", Value = "Kazakhstan" },
new SelectListItem{ Text="Kenya", Value = "Kenya" },
new SelectListItem{ Text="Kiribati", Value = "Kiribati" },
new SelectListItem{ Text="Korea", Value = "Korea" },
new SelectListItem{ Text="Kosovo", Value = "Kosovo" },
new SelectListItem{ Text="Kuwait", Value = "Kuwait" },
new SelectListItem{ Text="Kyrgyzstan", Value = "Kyrgyzstan" },
new SelectListItem{ Text="Laos", Value = "Laos" },
new SelectListItem{ Text="Latvia", Value = "Latvia" },
new SelectListItem{ Text="Lebanon", Value = "Lebanon" },
new SelectListItem{ Text="Lesotho", Value = "Lesotho" },
new SelectListItem{ Text="Liberia", Value = "Liberia" },
new SelectListItem{ Text="Liechtenstein", Value = "Liechtenstein" },
new SelectListItem{ Text="Lithuania", Value = "Lithuania" },
new SelectListItem{ Text="Luxembourg", Value = "Luxembourg" },
new SelectListItem{ Text="Macao SAR", Value = "Macao SAR" },
new SelectListItem{ Text="Madagascar", Value = "Madagascar" },
new SelectListItem{ Text="Malawi", Value = "Malawi" },
new SelectListItem{ Text="Malaysia", Value = "Malaysia" },
new SelectListItem{ Text="Maldives", Value = "Maldives" },
new SelectListItem{ Text="Mali", Value = "Mali" },
new SelectListItem{ Text="Malta", Value = "Malta" },
new SelectListItem{ Text="Marshall Islands", Value = "Marshall Islands" },
new SelectListItem{ Text="Martinique", Value = "Martinique" },
new SelectListItem{ Text="Mauritania", Value = "Mauritania" },
new SelectListItem{ Text="Mauritius", Value = "Mauritius" },
new SelectListItem{ Text="Mayotte", Value = "Mayotte" },
new SelectListItem{ Text="Mexico", Value = "Mexico" },
new SelectListItem{ Text="Micronesia", Value = "Micronesia" },
new SelectListItem{ Text="Moldova", Value = "Moldova" },
new SelectListItem{ Text="Monaco", Value = "Monaco" },
new SelectListItem{ Text="Mongolia", Value = "Mongolia" },
new SelectListItem{ Text="Montenegro", Value = "Montenegro" },
new SelectListItem{ Text="Montserrat", Value = "Montserrat" },
new SelectListItem{ Text="Morocco", Value = "Morocco" },
new SelectListItem{ Text="Mozambique", Value = "Mozambique" },
new SelectListItem{ Text="Myanmar", Value = "Myanmar" },
new SelectListItem{ Text="Namibia", Value = "Namibia" },
new SelectListItem{ Text="Nauru", Value = "Nauru" },
new SelectListItem{ Text="Nepal", Value = "Nepal" },
new SelectListItem{ Text="Netherlands", Value = "Netherlands" },
new SelectListItem{ Text="New Caledonia", Value = "New Caledonia" },
new SelectListItem{ Text="New Zealand", Value = "New Zealand" },
new SelectListItem{ Text="Nicaragua", Value = "Nicaragua" },
new SelectListItem{ Text="Niger", Value = "Niger" },
new SelectListItem{ Text="Nigeria", Value = "Nigeria" },
new SelectListItem{ Text="Niue", Value = "Niue" },
new SelectListItem{ Text="Norfolk Island", Value = "Norfolk Island" },
new SelectListItem{ Text="North Macedonia", Value = "North Macedonia" },
new SelectListItem{ Text="Northern Mariana Islands", Value = "Northern Mariana Islands" },
new SelectListItem{ Text="Norway", Value = "Norway" },
new SelectListItem{ Text="Oman", Value = "Oman" },
new SelectListItem{ Text="Pakistan", Value = "Pakistan" },
new SelectListItem{ Text="Palau", Value = "Palau" },
new SelectListItem{ Text="Palestinian Authority", Value = "Palestinian Authority" },
new SelectListItem{ Text="Panama", Value = "Panama" },
new SelectListItem{ Text="Papua New Guinea", Value = "Papua New Guinea" },
new SelectListItem{ Text="Paraguay", Value = "Paraguay" },
new SelectListItem{ Text="Peru", Value = "Peru" },
new SelectListItem{ Text="Philippines", Value = "Philippines" },
new SelectListItem{ Text="Pitcairn Islands", Value = "Pitcairn Islands" },
new SelectListItem{ Text="Poland", Value = "Poland" },
new SelectListItem{ Text="Portugal", Value = "Portugal" },
new SelectListItem{ Text="Puerto Rico", Value = "Puerto Rico" },
new SelectListItem{ Text="Qatar", Value = "Qatar" },
new SelectListItem{ Text="Réunion", Value = "Réunion" },
new SelectListItem{ Text="Romania", Value = "Romania" },
new SelectListItem{ Text="Russia", Value = "Russia" },
new SelectListItem{ Text="Rwanda", Value = "Rwanda" },
new SelectListItem{ Text="Saba", Value = "Saba" },
new SelectListItem{ Text="Saint Barthélemy", Value = "Saint Barthélemy" },
new SelectListItem{ Text="Saint Kitts and Nevis", Value = "Saint Kitts and Nevis" },
new SelectListItem{ Text="Saint Lucia", Value = "Saint Lucia" },
new SelectListItem{ Text="Saint Martin", Value = "Saint Martin" },
new SelectListItem{ Text="Saint Pierre and Miquelon", Value = "Saint Pierre and Miquelon" },
new SelectListItem{ Text="Saint Vincent and the Grenadines", Value = "Saint Vincent and the Grenadines" },
new SelectListItem{ Text="Samoa", Value = "Samoa" },
new SelectListItem{ Text="San Marino", Value = "San Marino" },
new SelectListItem{ Text="São Tomé and Príncipe", Value = "São Tomé and Príncipe" },
new SelectListItem{ Text="Saudi Arabia", Value = "Saudi Arabia" },
new SelectListItem{ Text="Senegal", Value = "Senegal" },
new SelectListItem{ Text="Serbia", Value = "Serbia" },
new SelectListItem{ Text="Seychelles", Value = "Seychelles" },
new SelectListItem{ Text="Sierra Leone", Value = "Sierra Leone" },
new SelectListItem{ Text="Singapore", Value = "Singapore" },
new SelectListItem{ Text="Sint Eustatius", Value = "Sint Eustatius" },
new SelectListItem{ Text="Sint Maarten", Value = "Sint Maarten" },
new SelectListItem{ Text="Slovakia", Value = "Slovakia" },
new SelectListItem{ Text="Slovenia", Value = "Slovenia" },
new SelectListItem{ Text="Solomon Islands", Value = "Solomon Islands" },
new SelectListItem{ Text="Somalia", Value = "Somalia" },
new SelectListItem{ Text="South Africa", Value = "South Africa" },
new SelectListItem{ Text="South Georgia and South Sandwich Islands", Value = "South Georgia and South Sandwich Islands" },
new SelectListItem{ Text="South Sudan", Value = "South Sudan" },
new SelectListItem{ Text="Spain", Value = "Spain" },
new SelectListItem{ Text="Sri Lanka", Value = "Sri Lanka" },
new SelectListItem{ Text="St Helena, Ascension, Tristan da Cunha", Value = "St Helena, Ascension, Tristan da Cunha" },
new SelectListItem{ Text="Suriname", Value = "Suriname" },
new SelectListItem{ Text="Svalbard", Value = "Svalbard" },
new SelectListItem{ Text="Sweden", Value = "Sweden" },
new SelectListItem{ Text="Switzerland", Value = "Switzerland" },
new SelectListItem{ Text="Taiwan", Value = "Taiwan" },
new SelectListItem{ Text="Tajikistan", Value = "Tajikistan" },
new SelectListItem{ Text="Tanzania", Value = "Tanzania" },
new SelectListItem{ Text="Thailand", Value = "Thailand" },
new SelectListItem{ Text="Timor-Leste", Value = "Timor-Leste" },
new SelectListItem{ Text="Togo", Value = "Togo" },
new SelectListItem{ Text="Tokelau", Value = "Tokelau" },
new SelectListItem{ Text="Tonga", Value = "Tonga" },
new SelectListItem{ Text="Trinidad and Tobago", Value = "Trinidad and Tobago" },
new SelectListItem{ Text="Tunisia", Value = "Tunisia" },
new SelectListItem{ Text="Turkey", Value = "Turkey" },
new SelectListItem{ Text="Turkmenistan", Value = "Turkmenistan" },
new SelectListItem{ Text="Turks and Caicos Islands", Value = "Turks and Caicos Islands" },
new SelectListItem{ Text="Tuvalu", Value = "Tuvalu" },
new SelectListItem{ Text="U.S. Outlying Islands", Value = "U.S. Outlying Islands" },
new SelectListItem{ Text="U.S. Virgin Islands", Value = "U.S. Virgin Islands" },
new SelectListItem{ Text="Uganda", Value = "Uganda" },
new SelectListItem{ Text="Ukraine", Value = "Ukraine" },
new SelectListItem{ Text="United Arab Emirates", Value = "United Arab Emirates" },
new SelectListItem{ Text="United Kingdom", Value = "United Kingdom" },
new SelectListItem{ Text="United States", Value = "United States" },
new SelectListItem{ Text="Uruguay", Value = "Uruguay" },
new SelectListItem{ Text="Uzbekistan", Value = "Uzbekistan" },
new SelectListItem{ Text="Vanuatu", Value = "Vanuatu" },
new SelectListItem{ Text="Vatican City", Value = "Vatican City" },
new SelectListItem{ Text="Venezuela", Value = "Venezuela" },
new SelectListItem{ Text="Vietnam", Value = "Vietnam" },
new SelectListItem{ Text="Wallis and Futuna", Value = "Wallis and Futuna" },
new SelectListItem{ Text="Yemen", Value = "Yemen" },
new SelectListItem{ Text="Zambia", Value = "Zambia" },
new SelectListItem{ Text="Zimbabwe", Value = "Zimbabwe" }
})
                                                                @Html.ValidationMessageFor(model => model.country)
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>

                                                    <div class="mktoFormRow optIn opt-in" style="display: block;">
                                                        <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
                                                            <div class="mktoOffset" style="width: 10px;"></div>
                                                            <div class="mktoFieldWrap">
                                                                <label for="SystemContactPreferenceMirrorOptIn" class="mktoLabel mktoHasWidth"
                                                                       style="width: 287px; display: block;">
                                                                    <span class="consentLabel">
                                                                        I would like to hear from Microsoft and
                                                                        its family of companies via email and phone about Solutions for Businesses and Organizations and
                                                                        other Microsoft products, services, and events, including the latest solutions, tips, and exclusive
                                                                        offers. To withdraw consent or manage your contact preferences, visit the <a target="_blank"
                                                                                                                                                     href="https://go.microsoft.com/fwlink/?LinkId=243189">Promotional Communications Manager</a>. <a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=521839">
                                                                            Privacy
                                                                            Statement
                                                                        </a>.
                                                                    </span>
                                                                </label>
                                                                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                                                                <div class="mktoLogicalField mktoCheckboxList mktoHasWidth mktoValid" style="width: 150px; display: block;">
                                                                    <input name="SystemContactPreferenceMirrorOptIn" id="mktoCheckbox_263873_0" type="checkbox" value="yes"
                                                                           class="mktoField">
                                                                </div>
                                                                <div class="mktoClear"></div>
                                                            </div>
                                                            <div class="mktoClear"></div>
                                                        </div>
                                                        <div class="mktoClear"></div>
                                                    </div>
                                                    <div class="mktoButtonRow">
                                                        <span class="mktoButtonWrap mktoSimple" style="margin-left: 120px;">
                                                            <input name="CampaignName" id="CampaignName" type="hidden"
                                                                   value="SULOPF018_Surface_Awaken_the_Genius_English_Canada" />

                                                            <input type="submit" class="mktoButton" value="Download now" />
                                                        </span>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="required-fields">
                                    * required fields
                                </div>
                            </div>
                        </div>
                        <article class="body-text">
                            <div class="hidden-md hidden-lg content-preview mktoText no-image" id="productImageMobile">
                                <img class="title-area-image" src=" " alt="" /><a class="preview-link" href="">
                                    <img src="" />[REPLACE] Free Preview Text
                                </a>
                            </div>

                            <div class="dateTime mktoText" id="progDateTime">
                                <span class="date"></span> <span class="time"></span>
                            </div>

                            <section class="mktoText" id="mainBodyCopy">
                                <p>Culture, space, and technology are all factors in achieving group flow – the state of frictionless collaboration in which teams produce their best work.</p>

                                <p>In a commissioned study, Prowess discovered companies that promote collaboration are five times more likely to perform at higher levels compared to those that don’t. Empower your teams to achieve even more with these three workplace practices: </p>
                                <ol>
                                    <ol>
                                        <li>Provide workspaces designed for collaboration.</li>
                                        <li>Make sure employees have the time they need to collaborate.</li>
                                        <li>Establish a technology platform that connects workers and allows for better collaboration.</li>
                                    </ol>
                                </ol>
                                <p>Discover the formula that will lead to more creative, collaborative, and productive teamwork by downloading this research.</p>
                            </section>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluid mktoSnippet" id="footerSnippet">
        @section Scripts {
        @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")

        <script>
            $(document).ready(function () {

                //IP Address
                var ip_address = "Unknown IP";

                $.getJSON("https://api.ipify.org?format=json", function (data) {
                    //alert(data.ip);
                    ip_address = data.ip;
                    $("#ip_address").val(ip_address);
                });


                //Browser
                var browser = "Unknown Brower";

                if (navigator.userAgent.search("Chrome") >= 0) {
                    browser = "Chrome";
                    //alert("Chrome");
                }
                else if (navigator.userAgent.search("Firefox") >= 0) {
                    browser = "Firefox";
                    //alert("Firefox");
                }
                else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
                    browser = "Safari";
                    //alert("Safari");
                }
                else if (navigator.userAgent.search("Opera") >= 0) {
                    browser = "Opera";
                    //alert("Opera");
                }
                if (navigator.userAgent.search("MSIE") >= 0) {
                    browser = "MSIE";
                    //alert("MSIE");
                }
                $("#browser_details").val(browser);


                //page url
                var pageURL = "Unknown Page URL"
                pageURL = $(location).attr("href");
                //alert(pageURL);
                $("#url_link").val(pageURL);


                //OS info
                var OSName = "Unknown OS";
                if (navigator.appVersion.indexOf("Win") != -1) OSName = "Windows";
                if (navigator.appVersion.indexOf("Mac") != -1) OSName = "MacOS";
                if (navigator.appVersion.indexOf("X11") != -1) OSName = "UNIX";
                if (navigator.appVersion.indexOf("Linux") != -1) OSName = "Linux";
                //var os = navigator.platform;
                //alert(OSName);
                $("#os_info").val(OSName);


            });
        </script>
        <script type="text/javascript">
            // <![CDATA[
            var head = document.getElementsByTagName("head")[0];
            var link = document.createElement("link");
            link.setAttribute("rel", "stylesheet");
            link.setAttribute("href", "https://info.microsoft.com/rs/157-GQE-382/images/footer.css");
            head.appendChild(link);
            // ]]>
        </script>
        }
       

        
        <div class="row footer-bottom-row">
            <div class="col-xs-12">
                <div id="footerlinks">
                    <a href="http://go.microsoft.com/fwlink/?LinkId=248681">Privacy &amp; Cookies</a>
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=222682">Trademarks</a> <span class="footer-copyright">&copy; Microsoft 2020</span>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>